<launch>

    <param name="robot_description" textfile="$(find treebot)/urdf/bot.urdf" />
    <param name="robot_description_semantic" textfile="$(find treebot)/srdf/bot.srdf" />

    <rosparam command="load" file="$(find treebot)/config/kinematics.yaml"/>
    <rosparam command="load" file="$(find treebot)/config/planner.yaml"/>

    <include file="$(find treebot)/launch/pointcloud.launch" />
    <!--    <node name="octomap" pkg="octomap_server" type="octomap_server_node">-->
    <!--        <param name="frame_id" value="map"/>-->
    <!--        <param name="resolution" value=".1"/>-->
    <!--        <remap from="cloud_in" to="/drone/front/points"/>-->
    <!--    </node>-->

 </launch>
